# Allowed Domains for OpenClaw
.google.com
.googleapis.com
.github.com
.githubusercontent.com
.npmjs.org
.yarnpkg.com
registry.npmjs.org

# Chat Providers
.anthropic.com
.openai.com
.telegram.org
.t.me
.slack.com
.discord.com
.discordapp.com
.discord.gg
.signal.org
.whatsapp.com
.whatsapp.net
.facebook.com
.matrix.org

# Add your custom domains below
.wikipedia.org
.weatherapi.com
litellm
