{
{% if gemini_key | default('') | length > 0 %}
  "agents": {
    "defaults": {
      "memorySearch": {
        "provider": "gemini",
        "model": "gemini-embedding-001",
        "remote": {
          "apiKey": "{{ gemini_key }}"
        }
      }
    }
  }{% if brave_key | default('') | length > 0 %},{% endif %}
{% endif %}
{% if brave_key | default('') | length > 0 %}
  "tools": {
    "web": {
      "search": {
        "provider": "brave"
      },
      "fetch": {
        "enabled": true
      }
    },
    "plugins": {
      "entries": {
        "brave": {
          "config": {
            "webSearch": {
              "apiKey": "{{ brave_key }}"
            }
          }
        }
      }
    }
  }
{% endif %}
}
