OPENCLAW_HOME="{{ openclaw_home }}"
LASTFM_API_KEY="{{ lastfm_api_key | default('') }}"
LASTFM_USERNAME="{{ lastfm_username | default('') }}"
BRAVE_KEY="{{ brave_key | default('') }}"
IMAP_HOST="{{ email_imap_host | default('') }}"
IMAP_USER="{{ email_imap_user | default('') }}"
IMAP_PASSWORD="{{ email_imap_password | default('') }}"
IMAP_FOLDER="{{ email_imap_folder | default('INBOX') }}"
TELEGRAM_USERID="{{ telegram_userid | default('') }}"
MINIMAX_KEY="{{ llm_key if llm_provider == 'minimax' else '' }}"
